@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap");

body {
    background-color: #ffffff;
    font-family: 'Roboto', sans-serif;
    color: #333;
    padding: 20px;
    margin: 0;
}

h1 {
    text-align: center;
    color: #0367a6;
    margin-bottom: 20px;
}

.filter-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    background-color: #e9f3fb;
    padding: 10px;
    border-radius: 5px;
}

.filter-container form {
    display: flex;
    align-items: center;
}

.filter-container label {
    margin-right: 10px;
    font-weight: bold;
}

.filter-container select,
.filter-container input[type="submit"] {
    padding: 5px 10px;
    margin-right: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 1rem;
}

.filter-container .button {
    padding: 5px 10px;
    color: white;
    background-color: #007BFF;
    text-decoration: none;
    border-radius: 4px;
}

.filter-container .button:hover {
    background-color: #0056b3;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
    background-color: white;
}

table, th, td {
    border: 1px solid #ddd;
}

th, td {
    padding: 10px;
    text-align: left;
}

th {
    background-color: #0367a6;
    color: white;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

.edit-button {
    padding: 5px 10px;
    color: white;
    background-color: #28a745;
    text-decoration: none;
    border-radius: 4px;
}

.edit-button:hover {
    background-color: #218838;
}
